<header class="header">
  <div class="header__left">
    <h1 class="header__title">Брезунов Владислав</h1>
    <h2 class="header__description">Fullstack-разработчик на Angular & NestJS</h2>
    <p class="header__sub-description">Занимаюсь разработкой сайтов и Web-приложений.</p>
    <div class="header__contacts">
      <ul class="header__contacts-list">
        <li class="header__contacts-item">
          <a class="header__contacts-link" target="_blank" href="mailto:vladislav.b.23.07.2001@gmail.com">
            <img class="header__contacts-link__icon" src="icons/mail.png" alt="icon-mail">
            <span class="header__contacts-link__text">{{"vladislav.b.23.07.2001@gmail.com"}}</span>
          </a>
        </li>
        <li class="header__contacts-item">
          <a class="header__contacts-link" target="_blank" href="tel:+375333783017">
            <img class="header__contacts-link__icon" src="icons/phone.png" alt="icon-phone">
            <span class="header__contacts-link__text">+375 (33) 378-30-17 + Viber</span>
          </a>
        </li>
        <li class="header__contacts-item">
          <a class="header__contacts-link" target="_blank" href="https://t.me/VladislavBrezgunov">
            <img class="header__contacts-link__icon" src="icons/telegram.png" alt="icon-telegram">
            <span class="header__contacts-link__text">{{"@VladislavBrezgunov"}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header__right">
    <img class="header__photo" src="images/my-photo.png" alt="my-photo">
  </div>
</header>
