<section class="experience">
  <h1 class="experience__title">Опыт работы</h1>
  <div class="experience__block">
    <h2 class="experience__block-org">ОАО "Знамя индустриализации"</h2>
    <p class="experience__block-spec">Должность: инженер-программист</p>
    <p class="experience__block-work">Работал с 2023</p>

    <h3 class="experience__block-charge__title">Обязанности:</h3>
    <ul class="experience__block-charge__list">
      <li class="experience__block-charge__item">
        Разработка и поддержка сайта на Angular
        <a target="_blank" href="https://github.com/Vladon-2307/znamya.biz">(https://github.com/Vladon-2307/znamya.biz)</a>
      </li>
      <li class="experience__block-charge__item">
        Разработка приложения для печати этикеток для раскройного комплекса
      </li>
      <li class="experience__block-charge__item">
        Разработка приложения для полуавтоматического заказа qr-кодов в системе электронный знак
      </li>
    </ul>
  </div>
</section>
